#run-app
  padding-right: 7px
  padding-left: 15px
.btn-container
  position: absolute
  margin-bottom: auto
  height: auto
  vertical-align: middle
  margin-left: -103px
  flex-direction: row
  align-items: stretch
  display: none
  margin-top: 15px
  transition: display .2s
  & .control
    vertical-align: middle
    display: block
    width: 15px
    height: 100%
    margin-left: 15px
    font-size: 20px
    //margin: 0 auto

.run-container
  margin-right: 34px
  margin-left: 23px
  padding-left: auto
  transition: padding-left .2s ease-in-out
  &:hover
    padding-left: 120px
    .btn-container
      display: flex

.subscription .sub
  border-bottom: solid 1px
.subscription .sub::last-child
  border-bottom: hidden

.run
  @extend .row
  margin-bottom: 5px
  margin-top: 10px
  margin-left: 15px
  padding-right: -10px
  background-color: $run-bg
  & .sub
    border-bottom: 1px solid black
  & .run-details
    & .date
      width: 50px
      height: 15px
      margin-right: 5px
      transform: rotate(-90deg)
      transform-origin: 50% 50%
      left: -16px
      position: absolute
      top: 48px
  & .notes
    margin-top: 15px
    margin-bottom: -15px
    max-height: 40px
    overflow-y: hidden
    text-overflow: ellipsis
  &:nth-child(odd)
    background-color: darken($run-bg, 10%)
  //&::before
  //  content: ' '
  //  height: 100%
  //  width: 15px
  //  margin-right: 5px
  //  position: absolute
  //  left: 0
  //  top: 0

.ready
  background-color: $ready

.error
  background-color: $error

.needs_filling
  background-color: $needs_filling

.missing_cars
  background-color: $missing_cars

.gone
  background-color: $gone

.waypoint-list
  padding-bottom: 10px
  list-style-type: none
  padding-left: 0
  margin: 2px
  & .glyphicon
    margin-right: 5px
    font-weight: lighter
    vertical-align: text-top
    margin-top: 2px
    width: 18px
    transform: scaleX(1.8)
    margin-left: 11px
  & li
    display: inline-block
  & li:not(:first-child)::before
    //display: inline-block
    width: 5px
    margin-right: 2px