version: "2"
services:
  app:
    depends_on:
      - composer
    env_file:
      - ./config/docker/app.env
    working_dir: /var/www
    volumes:
      - ./:/var/www
    build:
      context: ./config/docker/
      dockerfile: app.dockerfile
    links:
      - cache
      - database
    expose:
      - "9000"
    ports:
      - "9000:9000"
  app-queue:
    env_file:
      - ./config/docker/app.env
    environment:
      - "CONTAINER_ROLE=queue"
    build:
      context: ./config/docker/
      dockerfile: queue.dockerfile
    volumes_from:
      - app
    links:
      - cache
      - database
  app-schedules:
    env_file:
      - ./config/docker/app.env
    environment:
      - "CONTAINER_ROLE=schedule"
    build:
      context: ./config/docker/
      dockerfile: queue.dockerfile
    volumes_from:
      - app
    links:
      - cache
      - database
  composer:
    restart: 'no'
    image: composer/composer
    volumes:
      - ./:/app
    command: install --no-scripts
  web:
    build:
      context: ./
      dockerfile: config/docker/web.dockerfile
    volumes_from:
      - app
    links:
      - app
    expose:
      - "80"
    ports:
      - "80:80"

  database:
    image: mysql:5.6
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      - "MYSQL_DATABASE=homestead"
      - "MYSQL_USER=homestead"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_ROOT_PASSWORD=secret"
    expose:
      - "3306"

  node:
    restart: 'no'
    build:
      context: ./
      dockerfile: config/docker/node.dockerfile
    volumes:
      - ./:/app
    links:
      - database
      - app

  echo-server:
    volumes:
      - ./config/broadcasting/laravel-echo-server-staging.json:/app/laravel-echo-server.json
      - ./database/lecho.sqlite:/database/laravel-echo-server.sqlite
    build:
      context: ./config/docker
      dockerfile: echo.dockerfile
    links:
      - cache
    expose:
      - 6001
    ports:
      - "6001:6001"
  cache:
    image: redis:3.0-alpine
    expose:
      - "6379"

volumes:
  dbdata:
