version: "2"
services:
  app:
    environment:
        - "DB_PORT=3306"
        - "DB_HOST=database"
        - "MYSQL_DATABASE=homestead"
        - "MYSQL_USER=homestead"
        - "MYSQL_PASSWORD=secret"
        - "MYSQL_ROOT_PASSWORD=secret"
        - "REDIS_HOST=cache"
    working_dir: /var/www
    volumes:
      - ./:/var/www
    build:
        context: ./config/docker/
        dockerfile: app.dockerfile
    links:
      - cache
      - database
    expose:
      - "9000"
  composer:
    restart: 'no'
    image: composer/composer
    volumes:
      - ./:/app
    command: install
  web:
    build:
      context: ./
      dockerfile: config/docker/web.dockerfile

    volumes_from:
      - app
    links:
      - app
    expose:
      - "80"
    ports:
      - "80:80"

  database:
    image: mysql:5.6
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      - "MYSQL_DATABASE=homestead"
      - "MYSQL_USER=homestead"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_ROOT_PASSWORD=secret"
    expose:
      - "3306"

  node:
    restart: 'no'
    build:
      context: ./
      dockerfile: config/docker/node.dockerfile
    volumes:
      - ./:/app
    links:
      - database
      - app

  echo-server:
    volumes:
      - ./config/broadcasting:/app
    build:
      context: ./config/docker
      dockerfile: echo.dockerfile
    links:
      - cache

  cache:
      image: redis:3.0-alpine
      expose:
        - "6379"

volumes:
  dbdata:
