@media print
  .page-break
    page-break-after: always
  nav, .navbar, .filters, .no-print, .alert, .display-toggle, .time, .print-controls
    display: none
  .run-list
    width: 100vw
  //.run-container:nth-of-type(5)
  //  page-break-after: always
  .run-container
    display: block
    padding-left: 0
    border-bottom: 2px solid black
    border-top: 2px solid #888a85
    height: auto
    min-height: 15vh
    margin-bottom: 10px
    & .passengers, & .notes
      margin-left: 10px
    & .time
      display: inline-block
      margin-top: -30px
      padding-top: -30px

    &:hover
      padding-left: 0
    & .subscription
      padding-left: 120px
      width: 100%
      & .sub
        height: 50px
        width: 100%
        display: block
        position: relative
        & .user, & .car
          width: 25%
          padding-top: 15px
          margin-bottom: 5px
          padding-bottom: 3px
          display: inline-block
        & .car
          padding-right: 65px

  //@media (min-height: 266mm) and (max-height: 288mm) and (min-width: 179mm) and (max-width: 201mm)
  //  height: 15vh
  .btn-container
    display: none
  .run .run-details .date
    left: -56px
  .waypoints
    margin-top: 10px
    margin-bottom: 10px
  .waypoint-list
    margin-right: 20px
  .waypoint-list .glyphicon
    padding-top: -10px



