.comments{
  background-color: #f5f8fa;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  box-shadow: 3px 3px 2px #838383;
  position:absolute;
  z-index: 1;
  width: 25%;
  visibility: hidden;
  padding: 20px;
}
.comment-info{
  font-size: 8pt;
  margin-top: 5px;
} 
.comment-hover:hover{
  text-decoration: none;
}
.comment-remove{
  color: #bf5329;
  float: right;
}
.comment-edit{
  border: 1px solid #ddd;
  border-bottom: none;
  margin-top: 10px;
  border-radius: 4px 4px 0px 0px;
  padding-top: 5px;
}
.comment-edit-infos{
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  padding-top: 5px;
  font-size: 10pt;
}
