.table-group {
    margin-left: 10px;
}
.delIcon{
    width: 20px;
    position: absolute;
    right: 12px;
    top: 10px;
}
/*
Dragula CSS requirments
 */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.disablesecondbutton{
    pointer-events: none;
    opacity: 0.4;
}
[id^="container"]{
    color: white;
}

#container-null{
    background-color: rgba(244, 67, 54, 0.82) !important;
    color: white;
}
#container-null .panel-heading{
    background-color: rgba(244, 67, 54, 0.0);
    color: white;
}
.btn-danger{
    background-color: #EF5350 !important;
}

.panel-body{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.panel-body:active{
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing !important;
}

.panel-heading {
  font-weight: lighter;
  color:#fff !important;

}
