body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#loading {
    position: fixed;
    float: none;
    /*margin: 0 auto;*/
    left: 28%;
    top : 10%;
    /*background: url('../images/icons/loading.gif') no-repeat center center;*/
    z-index: 1000;
    display: none;

}
#loading img {
    width: 100%;
    height: 100%;
}