
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src:
          local('Droid Serif'),
          url("/fonts/DroidSerif.ttf") format('ttf');
}
html {
  font-family: 'Droid Serif', serif;
}
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "colors/run";
@import "components/components";