
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@font-face {
  font-family: 'DroidSerif';
  font-style: normal;
  font-weight: 400;
  src: local("DroidSerif"),url("/fonts/DroidSerif.ttf") format('ttf');
}
@font-face {
  font-family: 'DroidSerifBold';
  font-style: normal;
  font-weight: bold;
  src: local("DroidSerifBold"), url("/fonts/DroidSerifBold.ttf") format('ttf');
}

html {
  font-family: 'DroidSerif', serif;
}
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "colors/_run";
@import "components/components";
@import "vendor/react_dropdown_input";
@import "vendor/bootstrap";