@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src:
  local('Droid Serif'),
  url("/fonts/DroidSerif.ttf") format('ttf');
}
html {
  font-family: 'Droid Serif', serif;
}
// Variables
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "colors/run";
@import "components/components";