

.waypoint-list
  list-style-type: none
  margin: 2px
  padding: 3px
  & li
    display: inline-block
  & li:not(:first-child)::before
    //display: inline-block
    width: 5px
    margin-right: 2px

#run-app
  padding-right: 7px
  padding-left: 15px

.panel-heading
  background-color: #d5d5d5 !important
  height: 45px
  font-size: 16px
  color: #fff !important

.filters
  height: 100px

.input-filter
  display: inline-block
  width: 150px
  margin-right: 10px
  margin-top: 33px

.input-hour
  width: 65px

.input-radio
  list-style-type: none
  position: relative
  float: right
  margin-top: 15px

.filter-race
  position: absolute
  top: 0
  height: 100%

.btn-run
  margin-bottom: 5px
  width: 110px

.run
  margin-bottom: 5px
  margin-top: 5px
  padding-top: 8px
  padding-bottom: 9px
  &:nth-child(even)
    background-color: white
  &:nth-child(odd)
    background-color: #ECEFF1
  &::before
    content: ' '
    height: 100%
    width: 15px
    margin-right: 5px
    position: absolute
    left: 0
    top: 0
.ready
  background-color: $ready

.error
  background-color: $error

.needs_filling
  background-color: $needs_filling

.missing_cars
  background-color: $missing_cars

.gone
  background-color: $gone


//The following classes will only be used when displaying the /runs/display route

.display
  &.subscription
    //&.col-*
    //  line-height: 40px
  .label
    display: inline-block
    font-size: 100%
    min-width: 100%
    line-height: 15px
    margin-right: 5px
    padding-top: 2px
    padding-bottom: 2px
    padding-left: 10px
    padding-right: 10px
    vertical-align: middle