//$needs_filling: #FF9800;
//$error: #F44336;
//$ready: #00E676;
//
////$missing_cars: #E91E63
//$missing_cars: $needs_filling;
$run-bg: #ECEFF1;
//
////$gone: #1B5E20
//$gone: darken($run-bg, 10%);

$runStatus: (
  empty: $run-bg,
  organizing-users: #fd8b2d,
  organizing-vehicles: #fd8b2d,
  ready: #69bb7b,
  gone: #64B5F6,
  needs_filling: #fd8b2d,
  drafting: #fd8b2d,
  finished: #69bb7b,
  error: #ff0000,
);

@each $name, $color in $runStatus{
  .#{$name}{
    background-color: $color !important
  }
}
.finished, .drafting{
  opacity: .6;
}
